<style>
        /* Modify the background color */
         
        .navbar-custom {
            background: linear-gradient(-225deg, rgb(58, 6, 141), rgb(199, 7, 167));  ;
        }
        /* Modify brand and text color */
         
        .navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: green;
        }
    </style>
<nav style="margin-bottom: 0px;" class="navbar navbar-expand-sm navbar-custom navbar-dark nav justify-content-end">
  <ul class="nav mx-4">
    <li class="nav-item">
      <a class="nav-link text-light" href="/"><i class="fa fa-fw fa-home"></i>Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="http://localhost:3000/register"><i class="fa fa-fw fa-user-plus"></i>Registration</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-light" href="http://localhost:3000/login"><i class="fa fa-fw fa-user"></i>Login</a>
    </li>
  </ul>
</nav>